
/*/The main page color/*/
*{
    background-color: #303030;
}

/*/The main page buttons/*/

/*/Container for #creategame/*/
.container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 1%);
    text-align: center;
    
}

.container h1{
    color: white;
    background-color: black;
    padding: 4% 10px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 50px;   
    border-radius: 0px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    
}



#gamemenu{
    font-weight: bolder;
    font-size: 35px;  
    background: 3030130;
    padding: 10px 15px;
    outline-color: #303030;
    color: aliceblue;
    font-size:x-large;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
}

/*/Container for #enjoyGame/*/
.container2{
position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 1%);
    text-align: center;
}

#enjoyGame{
    top: 70%;
    font-weight: bolder;
    outline-width: 700;
    font-size: 35px;  
    background: 3030130;
    padding: 10px 15px;
    outline-color: #303030;
    color: aliceblue;
    font-size:x-large;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    visibility: visible;
}

/*/Container for Horse img/*/

.container-img{
    position: absolute;
    top: 500px;
    transform: translate(-50%, 1%);
    text-align: center;
    align-items: center;
}


.openn{
    visibility: hidden;
}
.open-menu{
visibility: visible;
}

.openn img{
    width: 300px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: none ;
}



.container-setting-menu{
    position: absolute;
    top: 120%;
    left: auto;
    transform: translate(-50%, 1%);
    text-align: center;
}

#createGame{
    font-weight: bolder;
    font-size: 35px;  
    background: 3030130;
    padding: 10px 15px;
    outline-color: #303030;
    color: aliceblue;
    font-size:x-large;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
}




.button:hover{
background: red ;
color: #fff
}


/*/
Gameboard
/*/

.container-gameboard{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 1%);
    text-align: center;
}

.uidutils{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 1%);
    text-align: center;
}

#player {
    height: 25px;
    background: rgb(44, 44, 44);
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    color: white;
    font-weight: bolder;
    font-size: 20px;  

}

#game {
    height: 25px;
    background: rgb(44, 44, 44);
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    color: white;
    font-weight: bolder;
    font-size: 20px;  

}








