/*/Pro někoho kdo nikdy neviděl CSS - Vysvětlení/*/

/*/.container{ je název class/*/
/*/position:absolute;                   jedná se o pozici, nemám lepší definici XD /*/
/*/text-align: center;                  jedná se o určení pozice textu vuči místu (v centur , z prava..)/*/
/*/top: 20%;                            jedná se o určení souřadnice ve vertikální ose (osa Y) na stránce/*/
/*/left: 50%;                           jedná se o určení souřadnice v horizontální ose (osa X) na stránce/*/
/*/transform: translate(-50%, 1%);      jedná se o věc u které nemám tušení co to dělá nějak to posouvá ale jinak nevím/*/


/*/#name{                               je název id dané položky/*/
/*/visibility: visible;                 určí zda je věc viditelná či nikoliv/*/

/*/background-color: ;                  jedná se o barvu pozadí textu/*/ /*/lze použít i background:/*/    
/*/border: 2px #c70303 solid;           jedná se o nastavení outline/*/ /*/nemusí být ale barva outline pak bílá bude/*/
/*/border-radius:20px                   jedná se o zakulacení hran [V Microsoftu na to ted mají nějakou úchylku]/*/
/*/box-shadow: px px px px rgba(,,,);   jedná se o stín obklopující subjekt/*/

/*/color: white;                        jedná se o barvu textu/*/
/*/text-decoration: none;               jedná se o vylepšení textu (podtrhnutí...)/*/
/*/font-size: 25px;                     jedná se o velikost fontu (textu)/*/
/*/font-weight: bolder;                 jedná se o šířku fontu (tlouštku)/*/
/*/text-transform: uppercase;           Řídí účinky velkých písmen textu/*/

/*/padding: 4% 10px;                    jedná se o něco jako "hitbox" + zvětšení boxu/*/
/*/margin-top: 25px;                    jedná se o pousun v pozici y zase?/*/ /*/ale tentokrát posun v podkategorii/*/
/*/transition: 0.4s;                    jedná /*/

/*/The main page color/*/
*{
    background-color: #303030;
}

/*/The main page buttons/*/

/*/Container for #creategame/*/
.container{
    text-align: center;
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 1%);
    
}
/*/MainScreen text - Utrpení-chess/*/
#mainText{
    visibility: visible;

    background-color: black;
    border: 2px #000000 solid;
    border-radius: 0px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);

    color: white;
    text-decoration: none;
    font-size: 50px;  
    font-weight: bolder;
    text-transform: uppercase;

    padding: 4% 10px;
    margin-top: 25px;
    transition: 0.4s;
    
}
/*/Vytvořit [Button]/*/
#gamemenu{
    visibility: visible;

    background-color: #303030;
    border: 2px #000000 solid;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);

    
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;  
    font-weight: bolder;
    text-transform: none;

    padding: 10px 15px;
    outline-color: #ff0000;
}

/*/Container for #enjoyGame/*/
.container2{
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, 1%);
}

/*/Připojit se [Button]/*/
#enjoyGame{
    visibility: visible;

    background-color: #303030;
    border: 2px #000000 solid;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);

    color: aliceblue;
    font-size: 25px;  
    font-weight: bolder;
    
    padding: 10px 15px;
}

/*/Container for Horse img/*/
.container-img{
    text-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 1%);
}
/*/Tomuto rozumím jen já a Bůh [Když to čteš tak už nejspíš jen Bůh]/*/
.openn{
    visibility: hidden;
}
.open-menu{
    visibility: visible;
}

.openn img{
    width: 300px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: none ;
}


.container-setting-menu{
    border: 5px hsl(0, 0%, 0%) solid;   
   border-radius: 30%;
    width: 450px;
    height: 450px;
    background-color:#383838;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 1%);
    box-shadow: -5px 8px 5px 0px #7FBC69, 5px -5px 5px 0px #8094BC;
}

#createGame{
    margin-top:8%;
    width: 330px;
    background-color:#303030;
    border: 2px #000000 solid;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);

    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;  

    padding: 10px 15px;

}
/*/SelectMap/*/
.dropdown{

}




/*/Gameboard/*/


.container-gameboard{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 1%);
}

.uidutils{
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 1%);
}

#player {
    height: 25px;
    background: rgb(44, 44, 44);
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    color: white;
    font-weight: bolder;
    font-size: 20px;  

}

#game {
    height: 25px;
    background: rgb(44, 44, 44);
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    color: white;
    font-weight: bolder;
    font-size: 20px;  

}








