/*/Pro někoho kdo nikdy neviděl CSS - Vysvětlení/*/

/*/.container{ je název class/*/
/*/position:absolute;                   jedná se o pozici, nemám lepší definici XD /*/
/*/text-align: center;                  jedná se o určení pozice textu vuči místu (v centur , z prava..)/*/
/*/top: 20%;                            jedná se o určení souřadnice ve vertikální ose (osa Y) na stránce/*/
/*/left: 50%;                           jedná se o určení souřadnice v horizontální ose (osa X) na stránce/*/

/*/#name{                               je název id dané položky/*/
/*/visibility: visible;                 určí zda je věc viditelná či nikoliv/*/

/*/background-color: ;                  jedná se o barvu pozadí textu/*/ /*/lze použít i background:/*/    
/*/border: 2px #c70303 solid;           jedná se o nastavení outline/*/ /*/nemusí být ale barva outline pak bílá bude/*/
/*/border-radius:20px                   jedná se o zakulacení hran [V Microsoftu na to ted mají nějakou úchylku]/*/
/*/box-shadow: px px px px rgba(,,,);   jedná se o stín obklopující subjekt/*/

/*/color: white;                        jedná se o barvu textu/*/
/*/text-decoration: none;               jedná se o vylepšení textu (podtrhnutí...)/*/
/*/font-size: 25px;                     jedná se o velikost fontu (textu)/*/
/*/font-weight: bolder;                 jedná se o šířku fontu (tlouštku)/*/
/*/text-transform: uppercase;           Řídí účinky velkých písmen textu/*/

/*/padding: 4% 10px;                    jedná se o něco jako "hitbox" + zvětšení boxu/*/
/*/margin-top: 25px;                    jedná se o pousun v pozici y zase?/*/ /*/ale tentokrát posun v podkategorii/*/
/*/transition: 0.4s;                    ???? /*/


/*/The main page color/*/
body{
    background-image: repeating-conic-gradient(black 0% 25%, #303030 0% 50%);
    background-position: 0 0, 28px 28px;
    background-size: 56px 56px;
    background-color: #bcbcbc;
}

/*/The main page buttons/*/
#subMenuBtnsDiv{
    text-align: center;
}

/*/Container for #creategame/*/
#titleDiv{
    text-align: center;
    width: 50%;
    margin: auto;
}

/*/MainScreen text - Utrpení-chess/*/
#mainMenuTitle{
    background-color: black;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);

    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 4% 10px;
    transition: 0.4s;

}
button, label, select{
    background-color: #303030;
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: 6px 6px 15px -4px rgba(0,0,0,0.75);
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-transform: none;
    margin: 20px;
    padding: 10px 15px;

}

.container-row{
    text-align: center;
}

/*/Tomuto rozumím jen já a Bůh [Když to čteš tak už nejspíš jen Bůh]/*/
#createMenu{
    text-align: center;
    margin: auto;
}

img{
    width: 300px;
    box-shadow: none ;
}
#createMenuImg{
    border-radius: 50%;
}

.container-setting-menu{
    border: 5px black solid;
    border-radius: 20%;
    width: 450px;
    height: 450px;
    margin: auto;
    background-color:#383838;
}

.join-img{
    text-align: center;
    align-items: center;
}

.open-join-menu{
    visibility: visible;
}

input{
    width: 250px;
    margin: 25px 20px 20px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid black;
    background-color: #303030;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:aliceblue; 
}

input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

#connectMenu, #createMenu{
    display: none;
}
#connectMenuCon{
    padding-top: 40px;
}