<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../static/chat.css">
    <script src="/javascript/basic.js"></script>
</head>
<body>
<div id="Chat">
    <div id="chatWindow" >
        {% for message in chat %}
            {% for sender, text in message.items() %}
                <p class="msgP"><b>{{ sender }}:</b> {{ text['msg'] }}</p>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="sendDiv">
        <input type="text" id="messageInput">
        <button type="button" id="sendMsg">Send!</button>
    </div>
</div>
<script type="module" src="/javascript/chat.js"></script>
</body>
</html>

