
<style>
    #Chat{
        border: 1px solid #487a3c;
        padding: 10px;
        margin: 10px 0;
    }
    .msgP{
        color: white;
    }

    #sendDiv {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .message-container label,
    .message-container input,
    .message-container button {
        margin: 0;
    }
    #messageInput{
        border: none;
    }
    #send_msg{

    }
</style>

<div id="Chat">
    {% for message in chat['Chat'] %}
        {% for sender, text in message.items() %}
            <p class="msgP"><b>{{ sender }}:</b> {{ text }}</p>
        {% endfor %}
    {% endfor %}

    <div id="sendDiv">
        <input type="text" id="messageInput">
        <button type="button" id="send_msg">Send!</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('message_received', function(data) {
                var messagesDiv = document.getElementById('Chat');
                messagesDiv.innerHTML += '<p>' + data.message + '</p>';
            });
    });
    document.getElementById('send_msg').addEventListener('click', function() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value;
            sendMessage(message);
            messageInput.value = ''
    });

    function sendMessage(message) {
            fetch('/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({message: message}),
            })
            .then(response => response.json())
            .catch((error) => {
                console.error('Error:', error);
            });
        }
</script>
