<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Šachy pro více hráčů</title>
    <script src="/javascript/game.js" defer></script>
</head>
<body>
<div class="wrapper">
    <form action="">
    </form>
</div>

<div class="container">
    <h1 id = "mainText">Utrpení-Chess</h1>
    <button id="gamemenu" onclick="clickmenu()"> Vytvořit hru </button>
    <script src="/javascript/remove.js"></script>
    <div class="container2"> <button id="enjoyGame"> Připojit se </button></div>
  
    <div class="openn" id="openn">
        <div class="container-img"><img src="../static/pictures/Horse.png"></div>
        <script src="/javascript/openscript.js"></script>
        <div class="container-setting-menu"> <button id="createGame"> Hrát </button></div>
    </div>
</div>

</body>
</html>
