
<!--Dávej si pozor na začátek a konec vět <div> </div> atd neoznačuje to program když to máš blbě nebo zbytečně v přesahu-->

<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Šachy plné utrpení!!!!</title>
    <script src="/javascript/menu.js" defer></script>
</head>
<body>
    <div id="titleDiv">
        <h1 id="mainMenuTitle">Utrpení Chess</h1>
    </div>

    <div id="subMenuBtnsDiv">

        <button id="createMenuBtn"> Vytvořit hru </button><br>
        <button id="connectMenuBtn">Připojit se</button>

        <script src="/javascript/open_hide.js"></script>

    </div>

    <div id="createMenu">
        <div class="container-row">
            <img id="createMenuImg" src="../static/pictures/Horse.png" alt="horse">
        </div>

        <div class="container-row container-setting-menu">
            <button id="playBtn"> Hrát </button>
            <div id="selectMapMapDiv">
                <select class="selectMapMap">
                    <option value="">Select An Option</option>
                    <option value="Classic">S1</option>
                    <option value="Není">S2</option>
                    <option value="Chybý">S3</option>
                    <option value="Eror404">S4</option>
                </select>
            </div>
        </div>
    </div>

    <div id="connectMenu">
        <div class="container-row">
            <img src="../static/pictures/King.png" alt="king">
        </div>

       <div class="container-row container-setting-menu" id="connectMenuCon">

           <label for="playerName" >Username</label><br>
           <input id="playerName"><br>

           <label for="gameCode">Kód hry:</label><br>
           <input id="gameCode" maxlength="9"><br>

           <p id="connectGameError"><p>
           <p id="resume_code"><p>
       </div>
    </div>
</body>
</html>